<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HTML Test</title>
    <script>var exports = {};</script>
    <script type="module" src="/src/scripts/bundle.js"></script>
</head>
<body>
    <h1>HTML version</h1>

    <label for="TestSelect">Choose an action:</label>

    <select name="pets" id="TestSelect">
        <option value="">--Please choose an option--</option>
        <option value="attack">Attack</option>
        <option value="defend">Defend</option>
        <option value="move">Move</option>
        <option value="follow">Follow</option>
        <option value="rest">Rest</option>
        <option value="wait">Wait</option>
    </select>

    <div id="Output">One</div>
    <br />
    <br />
    <div id="OutputTwo">Two</div>
</body>
</html>