<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HTML Test</title>
    <script type="module" src="/src/scripts/bundle.js"></script>
</head>
<body>
    <h1>HTML version</h1>

    <div id="Player1"></div>
    <div id="Player2"></div>
    <div id="Player3"></div>
    <div id="Player4"></div>
    <div id="Player5"></div>
    <div id="Player6"></div>
    <div id="Player7"></div>
    <div id="Player8"></div>

    <div id="Output">One</div>
    <br />
    <br />
    <div id="OutputTwo">Two</div>
</body>
</html>